---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../sections/Hero.astro';
import Problem from '../sections/Problem.astro';
import Platform from '../sections/Platform.astro';
import Audience from '../sections/Audience.astro';
import Apertio from '../sections/Apertio.astro';
import HowItWorks from '../sections/HowItWorks.astro';
import FinalCTA from '../sections/FinalCTA.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFAB from '../components/WhatsAppFAB.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Problem />
    <Platform />
    <Audience />
    <Apertio />
    <HowItWorks />
    <FinalCTA />
  </main>
  <Footer />
  <WhatsAppFAB />
</Layout>
